[Unit]
Description=GnuPG private key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true

[Service]
Type=forking
Environment=GPG_ENVFILE=%t/gpg-agent.info
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support
ExecStartPost=/usr/bin/gpg-connect-agent updatestartuptty /bye >/dev/null
Restart=on-abort

[Install]
WantedBy=default.target
